@model List<EquipmentMonitoringSystem.PresentationLayer.Models.EquipmentViewModel>
@{
    ViewData["Title"] = "Список оборудований";
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="action-area">
            <h4>Добавить новое оборудование </h4>
            <a class="btn btn-success action-icon" href="/Equipment/Add" title="Нажмите, чтобы добавить.">
                <i class="fa-sharp fa-solid fa-plus"></i>
            </a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Заводской номер</th>
                    <th scope="col">Группа</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@index</th>
                            <td>@item.Equipment.Name</td>
                            <td>@item.Equipment.Type</td>
                            <td>@item.Equipment.FactoryNumber</td>
                            <td>@item.GroupName</td>
                            <td>
                                <div class="action-area">
                                    <a class="btn btn-secondary action-icon" href="/Equipment/Edit/@item.Equipment.Id" title="Нажмите, чтобы редактировать информацию.">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a class="btn btn-danger action-icon" href="/Equipment/Remove/@item.Equipment.Id" title="Нажмите, чтобы удалить.">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        index++;
                    }
                }
            </tbody>
        </table>
    </main>
</div>
