@using EquipmentMonitoringSystem.PresentationLayer.Models;
@model EquipmentIndexViewModel
@{
    ViewData["Title"] = "Список оборудований";
}



<form asp-controller="Equipment" asp-action="Index">
<div class="container">
    <div class="row">
        <div class="col">Выберите станцию</div>
        <div class="col">Выберите группу</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <select onchange="OnSelectionChange (this)" id="SelectedStationId" asp-for="StationId" asp-items="Model.Stations" class="form-select"></select>
        </div>
        <div class="col">
            <select id="SelectedGroupId" asp-for="GroupId" asp-items="Model.Groups" class="form-select"></select>
        </div>
        <div class="col">
            <button class="btn btn-success">Поиск</button>
        </div>
    </div>
</div>
</form>


<script type="text/javascript">
    $(document).ready(function(){

        $("#SelectedStationId").change(function () {
            
            var select = document.getElementById("SelectedStationId");
            var value = select.value;

            $.ajax({
                type: "POST",
                url: "/Equipment/GroupSelect",
                data: { 'stid': value },
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _data = data;
                var idgrs = _data[0];
                var namegrs = _data[1];
                
                var selectgr = document.getElementById("SelectedGroupId");
                $('#SelectedGroupId').find('option').remove(); //удаление старых данных
                for (var i = 0; i < idgrs.length; i++) {
                    // 1)
                    let selectedOption = selectgr.options[selectgr.selectedIndex];

                    // 2)
                    let newOption = new Option(namegrs[i], idgrs[i]);
                    selectgr.append(newOption);

                    // 3)
                    newOption.selected = true;
                }
            }

            function OnError(err) {
                alert("Произошла ошибка!!!")
            }
            return false;
        });
    });
</script>

@if (Model.Equipments != null)
{
    <div class="container mt-1">
        <main role="main" class="pb-3">
            <div class="action-area">
                <h4>Добавить новое оборудование </h4>
                <a class="btn btn-success action-icon" href="/Equipment/Add" title="Нажмите, чтобы добавить.">
                    <i class="fa-sharp fa-solid fa-plus"></i>
                </a>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Ближайшее ТО</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = 1;
                        foreach (var item in Model.Equipments)
                        {
                            <tr>
                                <th scope="row">@index</th>
                                <td>@item.Name</td>
                                <td>@item.Maintenances[0].Name  @item.Maintenances[0].DateMaintenance</td>
                                @if (@item.Maintenances[0].Status)
                                {
                                    <td>ТО ВЫПОЛНЕН</td>
                                }
                                else
                                {
                                    <td>ТО НЕ ПРОИЗВЕДЕН</td>
                                }
                                <td>
                                    <div class="action-area">
                                        <a class="btn btn-secondary action-icon" href="/Equipment/Edit/@item.Id" title="Нажмите, чтобы редактировать информацию.">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a class="btn btn-primary action-icon" href="/Equipment/Info/@item.Id" title="Нажмите, чтобы узнать подробнее.">
                                            <i class="fa-sharp fa-solid fa-info"></i>
                                        </a>
                                        <a class="btn btn-danger action-icon" href="/Equipment/Remove/@item.Id" title="Нажмите, чтобы удалить.">
                                            <i class="fas fa-trash"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </main>
    </div>
}



