@using EquipmentMonitoringSystem.DataLayer.Entityes;
@model List<EquipmentMonitoringSystem.PresentationLayer.Models.StationIndexViewModel>
@{
    ViewData["Title"] = "Статистика";
}

<div class="row p-1">
    <div class="col-12 border border-3 rounded-3 text-center">
        <h4 class="h5 text-center">График прохождения ТО на разных станциях за текущий месяц</h4>
        <input id="IDMOUNTH" class="btn btn-success" value="Получить статистику" type="button" />
        <div class="chart-container">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
</div>
<div class="row p-1">
    <div class="col-6 border border-3 rounded-3 ">
        <div class="p-1">
            <select id="SelectTO" class="form-select" aria-label="Default select example">
                <option selected>Выберите месяц</option>
                @{var i = 1;}
                @foreach (var mouth in Enum.GetValues(typeof(MouthEnum)))
                {
                    <option value="@i">@mouth.ToString()</option>
                    i++;
                }
                @{i = 1;}
            </select>
            <div class="text-center mt-1">
                <input id="IDUNP" class="btn btn-success" value="Получить статистику" type="button" />
            </div>
        </div>
    </div>
    <div class="col-6 border border-3 rounded-3 ">
        <div class="p-1">
            <select class="form-select" aria-label="Default select example">
                <option selected>Выберите месяц</option>
                @foreach (var mouth in Enum.GetValues(typeof(MouthEnum)))
                {
                    <option value="@i">@mouth.ToString()</option>
                    i++;
                }
            </select>
            <div class="text-center mt-1">
                <input id="IDPLAN" class="btn btn-success" value="Получить статистику" type="button" />
            </div>
        </div>
    </div>
</div>
<div class="row p-1">
    <div class="col-6 border border-3 rounded-3 text-center">
        <h5 class="h4">Количество внеплановых ремонтов на станциях за выбранный месяц</h5>
        <div class="chart-container">
            <canvas id="myChart2"></canvas>
        </div>
        
    </div>
    <div class="col-6 border border-3 rounded-3 text-center">
        <h4 class="h4">Количество плановых ремонтов на станциях за выбранный месяц</h4>
        <div class="chart-container">
            <canvas id="myChart4"></canvas>
        </div>
    </div>
</div>

<div class="row p-1">
    <div class="col-6 border border-3 rounded-3 ">
        <h4 class="h4">Количество ТО в течении года на определенной станции</h4>
        <div class="p-1">
            <select id="SelectST" class="form-select" aria-label="Default select example">
                <option selected>Выберите станцию</option>
                @foreach (var station in Model)
                {
                    <option value="@station.Station.Id">@station.Station.Name</option>
                }

            </select>
            <div class="text-center mt-1">
                <input id="IDSTMONTH" class="btn btn-success" value="Получить статистику" type="button" />
            </div>
        </div>
    </div>
    <div class="col-6 border border-3 rounded-3 text-center">
        <h4 class="h4">Количество оборудований на разных станциях</h4>
        <input id="ID" class="btn btn-success" value="Получить статистику" type="button" />
    </div>
</div>


<div class="row p-1">
    <div class="col-6 border border-3 rounded-3 text-center">
        <div class="chart-container">
            <canvas id="myChart5"></canvas>
        </div>

    </div>
    <div class="col-6 border border-3 rounded-3 text-center">
        <div class="chart-container">
            <canvas id="myChart3"></canvas>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="~/js/Statistic.js"></script>