@model EquipmentMonitoringSystem.PresentationLayer.Models.GroupViewIndexModel

<div class="container">
    <main role="main" class="pb-3">
        
        @if (Model.Groups != null)
        {
            <input class="form-control" type="text" placeholder="Поиск по таблице" id="search-text" onkeyup="tableSearch()">
            <p><button class="btn btn-success mt-1" onclick="sortTable()">Отсортировать таблицу по алфавиту</button></p>

            <table class="table table-bordered tablesorter" id="info-table">
                <thead>
                    <tr style="cursor: pointer;">
                        <th scope="col" data-type="number">№</th>
                        <th scope="col" data-type="string">Имя</th>
                        <th scope="col" data-type="string">Описание</th>
                        <th scope="col" data-type="number">Кол-во оборудований</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = 1;
                        foreach (var item in Model.Groups)
                        {
                            <tr>
                                <th scope="row">@index</th>
                                <td>@item.Group.Name</td>
                                <td>@item.Group.Description</td>
                                <td>@item.EqCount</td>
                                <td>
                                    <div class="action-area">
                                        <a class="btn btn-secondary action-icon" onclick="showInPopup('@Url.Action("Edit", "Group", new {id=item.Group.Id}, Context.Request.Scheme)', 'Изменить Группу')" title="Нажмите, чтобы редактировать информацию.">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a class="btn btn-primary action-icon" href="/Group/Info/@item.Group.Id" title="Нажмите, чтобы узнать подробнее.">
                                            <i class="fa-sharp fa-solid fa-info"></i>
                                        </a>
                                        <a class="btn btn-danger action-icon" onclick="showInPopup('@Url.Action("Remove", "Group", new {id=item.Group.Id}, Context.Request.Scheme)', 'Удалить Группу')" title="Нажмите, чтобы удалить.">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        }

    </main>
</div>



<script>
    $(document).ready(function () {
        $("#info-table").tablesorter();
    });
</script>
