@model EquipmentMonitoringSystem.PresentationLayer.Models.GroupInfoModel
@{
    ViewData["Title"] = @Model.Group.Name;
}

<div class="container">
    <main role="main" class="pb-3">
        <div style="width: 960px; display: block; margin-left: auto; margin-right: auto;">
            <h4 class="my-2">Группа - "@Model.Group.Name"</h4>
            <hr class="mb-4" />

            <div class="mb-2">
                <b>Описание:</b> @Model.Group.Description
            </div>

            @if (Model.Group.Equipments.Any())
            {
                <div class="mb-2">
                    <b>Оборудования группы</b>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Наименование</th>
                                <th>Тип</th>
                                <th>Заводской номер</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var (item, index) in Model.Group.Equipments.OrderByDescending(item => item.Id).Select((item, index) => (item, index)))
                            {
                                <tr>
                                    <td>@(index + 1)</td>
                                    <td>@item.Name</td>
                                    <td>@item.Type</td>
                                    <td>@item.FactoryNumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            <a asp-action="Index" class="mt-4">Вернуться назад</a>
        </div>
    </main>
</div>