@model EquipmentMonitoringSystem.PresentationLayer.Models.GroupViewModel
@{
    ViewData["Title"] = @Model.Group.Name;
}

<div class="container">
    <main role="main" class="pb-3">
        <div style="width: 960px; display: block; margin-left: auto; margin-right: auto;">
            <h4 class="my-2">Группа - "@Model.Group.Name"</h4>
            <hr class="mb-4" />

            <div class="mb-2">
                <b>Описание:</b> @Model.Group.Description
            </div>

            @if (Model.Equipments.Any())
            {
                <div class="mb-2">
                    <b>Оборудования группы</b>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Наименование</th>
                                <th>Тип</th>
                                <th>Заводской номер</th>
                                <th>ТО</th>
                                <th>Месяцы</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var (item, index) in Model.Equipments.OrderByDescending(item => item.Equipment.Id).Select((item, index) => (item, index)))
                            {
                                <tr>
                                    <td>@(index + 1)</td>
                                    <td>@item.Equipment.Name</td>
                                    <td>@item.Equipment.Type</td>
                                    <td>@item.Equipment.FactoryNumber</td>


                                    @{
                                        string arr = "";
                                    }
                                    @*@foreach (var to in item.Equipment.arrayRepair)
                                    {
                                        arr += to.ToString() + ' ';
                                    }*@
                                    <td>@arr</td>

                                    @{
                                        arr = "";
                                    }
                                    @*@foreach (var to in item.Equipment.arrayMouthRepair)
                                    {
                                        arr += to.ToString() + ' ';
                                    }*@
                                    <td>@arr</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            <a asp-action="Index" class="mt-4">Вернуться назад</a>
        </div>
    </main>
</div>