@using EquipmentMonitoringSystem.PresentationLayer.Models;
@model EqupsGroup
@{
    ViewData["Title"] = "Список приближающихся ТО Группы:" + Model.NameGroup;
}

<h4>Группа: @Model.NameGroup</h4>

<h5>Список приближающиеся ТО оборудований</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Наименование</th>
            <th scope="col">Тип</th>
            <th scope="col">Заводской номер</th>
            <th scope="col">Приближающесся ТО</th>
            <th scope="col">Действие</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @foreach(var eq in Model.Equipments)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@eq.Name</td>
                <td>@eq.Type</td>
                <td>@eq.FactoryNumber</td>
                <td>@eq.MainDateName</td>
                <td>
                    <a class="btn btn-success action-icon" href="/UpcomingMaintenance/Fix2/@eq.Id" title="Нажмите, чтобы объявить о прохождении ТО.">
                        <i class="fa-sharp fa-solid fa-check"></i>
                    </a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>