@using EquipmentMonitoringSystem.PresentationLayer.Models;
@model UpcomingViewMaintenanceModel
@{
    ViewData["Title"] = "Список приближающихся ТО";
}



<form asp-controller="UpcomingMaintenance" asp-action="Index">
    <div class="container">
        <div class="row">
            <div class="col">Выберите станцию</div>
            <div class="col">Выберите группу</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <select id="SelectedStationId" asp-for="StationId" asp-items="Model.Stations" class="form-select">
                    <option selected disabled>Выберите станцию</option>
                </select>
            </div>
            <div class="col">
                <select id="SelectedGroupId" asp-for="GroupId" asp-items="Model.Groups" class="form-select">
                    <option selected disabled>Выберите группу</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-success">Поиск</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $("#SelectedStationId").change(function () {

            var select = document.getElementById("SelectedStationId");
            var value = select.value;

            $.ajax({
                type: "POST",
                url: "/Equipment/GroupSelect",
                data: { 'stid': value },
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _data = data;
                var idgrs = _data[0];
                var namegrs = _data[1];

                var selectgr = document.getElementById("SelectedGroupId");
                $('#SelectedGroupId').find('option').remove(); //удаление старых данных
                for (var i = 0; i < idgrs.length; i++) {
                    // 1)
                    let selectedOption = selectgr.options[selectgr.selectedIndex];

                    // 2)
                    let newOption = new Option(namegrs[i], idgrs[i]);
                    selectgr.append(newOption);

                    // 3)
                    newOption.selected = true;
                }
            }

            function OnError(err) {
                alert("Произошла ошибка!!!")
            }
            return false;
        });
    });
</script>

@if (Model.UpcomingMaintenances != null)
{
    if (Model.UpcomingMaintenances.Count != 0)
    {
        <div class="container">
            <main role="main" class="pb-3">
                <div class="action-area">
                </div>

                <input class="form-control mt-1" type="text" placeholder="Поиск по таблице" id="search-text" onkeyup="tableSearch()">
                <p><button class="btn btn-success mt-1" onclick="sortTable()">Отсортировать таблицу по алфавиту</button></p>

                <table class="table table-bordered" id="info-table">
                    <thead>
                        <tr>
                            <th scope="col">Имя оборудования</th>
                            <th scope="col">Имя ТО</th>
                            <th scope="col">Дата проведения</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.UpcomingMaintenances)
                            {
                                <tr>
                                    <td>@item.NameEquip</td>
                                    <td>@item.NameMain</td>
                                    <td>@item.Date</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </main>
        </div>
    }
    else
    {
        <h3 class="text-center mt-3">Список пуст</h3>
    }
   
}

<div class="row p-2 m-1">
    <div class="col-4 rounded-3 border text-start">
        <p class="h5 m-2">Всего приближающихся ТО: <b class="text-danger">@Model.CountMain</b></p>
    </div>
</div>
<div class="row p-2 m-1">
    @{int i = 0;}
    @foreach (var item in Model.Stations)
    {
        string idst = "st" + item.Value;
        <button id="@idst" class="btn btn-light col m-1 rounded-3 border text-start" title="Нажмите, чтобы посмотреть доп. информацию.">
            Станция: <b>@item.Text</b><br>
            Кол-во ремонтов: <b class="text-danger">@Model.StCount[i]</b>
        </button>
        i++;
    }
</div>

<div id="GroupsIdCol" class="row p-2 m-1" style="display: none">
    
</div>

<script>
    // Выбираем все кнопки на странице и получаем массив
    var btns = document.querySelectorAll('button')
    // Проходим по массиву
    btns.forEach(function (btn) {
        // Вешаем событие клик
        btn.addEventListener('click', function (e) {
            document.getElementById('GroupsIdCol').style.display = ''; // show
            var value = btn.id.replace('st', '');
            $.ajax({
                type: "POST",
                url: "/UpcomingMaintenance/SelGroupsCount",
                data: { 'stid': value },
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _data = data;
                let divmain = document.getElementById('GroupsIdCol');
                divmain.innerText = '';
                for (let i = 0; i < _data[0].length; i++) {
                    
                    const elementDiv = document.createElement("div");
                    elementDiv.className = "col-3 rounded-3 border m-1";
                    var innerHtml = "<button id=\"gr" + _data[0][i] + "\" class=\"btn btn-light text-start\" title = \"Нажмите, чтобы посмотреть доп.информацию.\" > Группа: <b>" + _data[1][i] + "</b><br> Кол-во ремонтов: <b class=\"text-danger\" >" + _data[2][i] + "</b > </button > ";
                    elementDiv.innerHTML = innerHtml;
                    divmain.appendChild(elementDiv);
                }
                elementUpdate('GroupsIdCol');
            }

            function OnError(err) {
                alert("Произошла ошибка!!!");
            }
        })
    })
</script>