@model List<EquipmentMonitoringSystem.PresentationLayer.Models.StationIndexViewModel>




<div class="row">
    @foreach (var item in Model)
    {
        <div class="col mb-4 ">
            <div class="stationround p-1 divst" style="height:21vw; border-radius: 15px; border-width: 4px;">
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="stationround p-1 text-center divnamest" style="height:2.5vw; border-radius: 13px; border-width: medium;">
                            <h6>@item.Station.Name</h6>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12" >
                        <img class="img-thumbnail" style=" max-height:200px;" src="~/img/HomeImg.jpg"></img>
                        <br><b>Кол-во групп:</b> @item.NumberGroups
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col ">
                        <div class="text-center">
                            <a class="btn btn-secondary container-fluid" onclick="showInPopup('@Url.Action("Edit", "Station", new {id=item.Station.Id}, Context.Request.Scheme)', 'Изменить Станцию')" title="Нажмите, чтобы изменить.">
                                &#x270e;
                            </a>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="text-center">
                            <a class="btn btn-primary container-fluid" href="/Station/Info/@item.Station.Id" title="Нажмите, чтобы узнать подробную информацию.">
                                &#128712;
                            </a>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="text-center">
                            <a class="btn btn-danger container-fluid" onclick="showInPopup('@Url.Action("Remove", "Station", new {id=item.Station.Id}, Context.Request.Scheme)', 'Удалить Станцию')" title="Нажмите, чтобы удалить." title="Нажмите, чтобы удалить.">
                                ×
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div class="col">
        <div class="p-1 m-5" style="height:21vw; border-radius: 100px; border-width: 4px; text-align: center; ">
            <a class="btn" onclick="showInPopup('@Url.Action("Add", "Station", null, Context.Request.Scheme)', 'Новая Станция')" title="Нажмите, чтобы добавить.">
                <i class="plus radius"></i>
            </a>
        </div>
    </div>
</div>
