@model EquipmentMonitoringSystem.PresentationLayer.Models.StationInfoViewModel
@{
    ViewData["Title"] = @Model.StationName;
}


<div style="width: 960px; display: block; margin-left: 2%; margin-right: auto;">
    <h4 class="my-2">Станция - "@Model.StationName"</h4>
    <hr class="mb-4" />

    @if (Model.Groups.Any())
    {
        foreach (var group in @Model.Groups)
        {
            <h4>Группа - @group.Name</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">Наименование</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eq in group.Equipments)
                    {
                        <tr scope="row">
                            <td>@eq.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    <a asp-action="Index" class="mt-4">Вернуться назад</a>
    <a asp-action="Index" class="btn btn-primary">Назад к списку</a>
</div>