@using EquipmentMonitoringSystem.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Пользователи";
}

<h1>Список Пользователей</h1>
<p>
    <a asp-action="CreateUser">Создать пользователя</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
            <th>@Html.DisplayNameFor(model=>model.UserName)</th>
            <th>@Html.DisplayNameFor(model=>model.Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
            </tr>
        }
    </tbody>
</table>